ejs
<!-- includes/footer.ejs -->
    <div id="bottom-wrap">
        <ul id="bottom" class="clearfix">
            <li>
                <div class="about">
                    <a href="/"><img src="/images/footer-logo.png" alt="Footer Logo" class="footer-logo" /></a>
                    <p>Para cada buen vino, existe el maridaje perfecto de aceitunas y queso. Descubra un montón de excelentes consejos y maridajes en nuestro centro de ideas.</p>
                    <a href="#" class="readmore">Leer más sobre nosotros</a>
                </div>
            </li>
            <li>
                <h2>Recetas<span>Reciente</span></h2>
                <ul class="recent-posts">
                    <li>
                        <a href="#" class="img-box"><img src="/images/tiny-images/63x53.jpg" alt="Image" /></a>
                        <h5><a href="#">El mejor del mundo</a></h5>
                        <p>Recetas de Sándwich aquí una vez habrá oportunidad de ir a ir</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>