ejs
<!-- includes/header.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" />
    <link rel="stylesheet" href="/js/nivo-slider/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" media="all" type="text/css" href="/js/prettyPhoto/css/prettyPhoto.css" />
    <link rel="shortcut icon" href="/favicon.png" />
</head>
<body>
    <div id="header-wrapper">
        <div id="header">
            <a href="/"><img src="/images/logo.png" alt="SolFit" class="logo" /></a>
        </div>
        <div id="nav-wrap">
            <div class="inn-nav clearfix">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <!-- Otros elementos del menú -->
                </ul>
            </div>
        </div>
        <span class="w-pet-border"></span>
    </div>
